.datatable{
    height: 600px;
    padding: 20px;
    // Ban đầu không có height = 600px, mọi thứ không thèm hiện ra ...
    // --> Có thể hiểu ra là height = 0px

    .cellWithImg{
        display: flex;
        align-items: center;

        .cellImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .status{
        font-size: 16px;
        font-weight: bold;

        &.active{
            color: green;
        }

        &.pending{
            color: orange;
        }

        &.passive{
            color: red;
        }
    }

    .cellAction{
        display: flex;
        align-items: center;
        // justify-content: space-between; --> Dùng không được thì 
        gap: 15px;
        font-size: 15px;
        color: black;
        
        .viewButton{
            background-color: lightskyblue;
            padding: 6px 8.5px; // top+bot: 12px | left+right: 10px
            border-radius: 5px;
            border: 1.5px dotted rgba(0,0,139,0.596);
            cursor: pointer; //di chuyển vào chuyển thành hình bàn tay
        }

        .deleteButton{
            background-color: lightcoral;
            padding: 6px 8.5px; // top+bot: 12px | left+right: 10px
            border-radius: 5px;
            border: 1.5px dotted rgba(0,0,139,0.596);
            cursor: pointer; //di chuyển vào chuyển thành hình bàn tay 
        }
    }
}

// 1:53:39